*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark{
    background-color: #000;
    color: #fff;
}
.article-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.article-card{
    margin: 12px;
}
.totalNews{
    display: flex;
    justify-content: center;
    margin: 24px;
    color: #0067ee;
}
a{
    text-decoration: none;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.loader{
    margin: 12px;
}